<link href="/public/stylesheets/tool/common.css" rel="stylesheet">
<link href="/public/stylesheets/findPassword.css" rel="stylesheet">

<div class="login-page-all-div" style="display: none;">
    <div class="login-head-img-div">
        <div class="back-login-page">
            <a href="#/login">&lt;</a>
        </div>
        <img class="login-head-img rotate-y-animation" src="/public/images/login/login_img.jpg">
    </div>
    <div class="input-line-div wy-input-line-div">
        <input class="wy-input-dom input-style-dom" type="text" ng-model="userName">
        <label class="wy-input-label">注册时邮箱</label>
        <div class="get-email-auth-code">发送</div>
    </div>
    <div class="input-line-div wy-input-line-div">
        <input class="input-style-dom wy-input-dom" type="text" ng-model="authCode">
        <label class="wy-input-label">验证码</label>
    </div>
    <div class="input-line-div wy-input-line-div">
        <input class="input-style-dom wy-input-dom" type="text" ng-model="userPassword">
        <label class="wy-input-label">输入新密码</label>
    </div>

    <div class="login-button-div m-top-40 " id="loginButton">找回密码</div>

</div>

<script src="/public/javascripts/findPassword.js"></script>
