<link href="/public/stylesheets/tool/common.css" rel="stylesheet">
<link href="/public/stylesheets/login.css" rel="stylesheet">

<div class="login-page-all-div">
    <div class="login-head-img-div">
        <img class="login-head-img rotate-y-animation" src="/public/images/login/login_img.jpg">
    </div>
    <div class="input-line-div wy-input-line-div">
        <input class="wy-input-dom input-style-dom" type="text" id="userName">
        <label class="wy-input-label">用户名或邮箱</label>
    </div>
    <div class="input-line-div wy-input-line-div">
        <input class="input-style-dom wy-input-dom" type="text" id="userPassword">
        <label class="wy-input-label">密码</label>
    </div>

    <div class="login-button-div m-top-40 " id="loginButton">登录</div>

    <div class="bottom-line-div">
        <a ><span class="forget-password-text">忘记密码？</span></a>
        <a style="text-decoration: none" href="#/sign">
            <div class="sign-button-div">注册</div>
        </a>
    </div>
</div>

<script src="/public/javascripts/login.js"></script>
