<link href="/public/stylesheets/myHome.css" rel="stylesheet">

<div class="my-home-page-all-div" style="display: none">
    <div class="my-home-head-div">
        <span class="font-size-18 color-white">生活记</span>
        <span>设置</span>
    </div>
    <div class="my-home-scroll-img-div">
        <img src="/public/images/home/home.jpg">
    </div>
    <div class="home-features-div">
        <div class="home-feature-one-div" style="background-color: #5cb073">
            <a href="#/whisper" class="text-line-none">
                <span class="color-white">悄悄话</span>
            </a>
        </div>
            <div class="home-feature-one-div" style="background-color: #e44594">
                <a href="#/myLove" class="text-line-none">
                    <span class="color-white">日记</span>
                </a>
            </div>
        <div class="home-feature-one-div" style="background-color: #9a68ca">
            <span class="color-white">定时器</span>
        </div>
        <div class="home-feature-one-div" style="background-color: #169aa0">
            <span class="color-white">外界</span>
        </div>
    </div>
    <div class="home-last-content-div">
        <div class="home-last-head-div font-size-14">最新动态</div>
        <div class="home-last-content-div">
            <div class="text-center font-size-14 color-grey">暂时还没有最新动态</div>
            <div class="text-center font-size-14 m-top-20">
                <a href="#/myLove" class="color-blue text-line-none">发一条,给自己一个美好开端</a>
            </div>
        </div>
    </div>
</div>

<!--<script src="/public/javascripts/myHome.js"></script>-->