<link href="/public/stylesheets/sign.css" rel="stylesheet">

<div class="sign-page-all-div" ng-controller="signPageController" style="display: none;">
    <div class="sign-head-img-div">
        <div class="back-login-page">
            <a href="#/login">&lt;</a>
        </div>
        <img class="sign-head-img rotate-y-animation" src="/public/images/login/login_img.jpg">
    </div>
    <form name="myForm">
        <div class="input-line-div wy-input-line-div">
            <input class="wy-input-dom input-style-dom" name="email" type="text" ng-model="userEmail" ng-focus="signFocus('email')" required>
            <label class="wy-input-label" ng-class="{'wy-input-no-empty':myForm.email.$dirty,'':myForm.email.$pristine}">邮箱</label>

            <label class="input-error-label" ng-show="emailStatusText" ng-bind="emailStatusText"></label>

            <!--发送验证码按钮-->
            <div class="send-author-code-button" ng-click="sendAuthCode()" ng-bind="sendButtonText"></div>
        </div>
        <div class="input-line-div wy-input-line-div">
            <input class="input-style-dom wy-input-dom" name="password" type="password" ng-focus="signFocus('password')" ng-model="userPassword" required>
            <label class="wy-input-label" ng-class="{'wy-input-no-empty':myForm.password.$dirty,'':myForm.password.$pristine}">密码</label>

            <label class="input-error-label" ng-show="passwordErrorText" ng-bind="passwordErrorText"></label>

        </div>
        <div class="input-line-div wy-input-line-div">
            <input class="input-style-dom wy-input-dom" name="againPassword" type="password" ng-focus="signFocus('angilPassword')" ng-model="againUserPassword">
            <label class="wy-input-label" ng-class="{'wy-input-no-empty':myForm.againPassword.$dirty,'':myForm.againPassword.$pristine}">再一次密码</label>

            <label class="input-error-label" ng-show="angilPasswordErrorText" ng-bind="angilPasswordErrorText"></label>

        </div>
        <div class="input-line-div wy-input-line-div">
            <input class="input-style-dom wy-input-dom" name="authCode" type="text" ng-model="authCode" ng-focus="signFocus('authCode')" required>
            <label class="wy-input-label" ng-class="{'wy-input-no-empty':myForm.authCode.$dirty,'':myForm.authCode.$pristine}">验证码</label>

            <label class="input-error-label" ng-show="authCodeTypeText" ng-bind="authCodeTypeText"></label>

        </div>
    </form>
    <div class="login-button-div m-top-40 " ng-click="signUser()">注册</div>
</div>
