.my-home-page-all-div{
    display: block !important;
}
.my-home-head-div{
    height: 50px;
    background-color: #86d3c6;
    display: flex;
    align-items:center;
    padding: 0 10px;
    box-sizing: border-box;
    justify-content: space-between;
}
.my-home-scroll-img-div{
    height: 160px;
    width: 100%;
}
.my-home-scroll-img-div img{
    width: inherit;
    height: inherit;
}
.home-features-div{
    display: flex;
    flex-wrap: wrap;
}
.home-feature-one-div{
    width: 25%;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.home-feature-one-div span{
    display: block;
    height:inherit;
    width: 100%;
}
.home-last-content-div{
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
}

.color-grey{
    color: #CCCCCC;
}
.color-blue{
    color: #3399fd;
}